
html {
    scroll-behavior: smooth;
}

*, ::before, ::after {

    text-decoration: none;
}

body, .site {

    overflow-y: hidden;
}


 .grille-achat {

    display: grid;
    grid-column-start: body1;
    grid-column-end: body2;
    row-gap: 20%;
    column-gap: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.grille-achat .bouton {

    position: static;
    width: 40%;
    height: 50px;
    margin-bottom: 3%;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bold;
    background: rgba(104, 182, 253, 0.3095);
    border: 3px solid #000000;
    border-radius: 100px;
    text-decoration: none;
}

.grille-achat .bouton:hover {

    background: rgba(104, 160, 253, 0.40);
}

.grille-achat .phrases {

    color: #000;
    font-size: 12pt;
    text-align: center;
    margin-top: 5%;
    margin-left: 20px; 
    margin-right: 20px;
}

.grille-achat h3 {

    color: #000;
    font-size: 18pt;
    text-align: center;
    margin-top: 2%;
}

.grille-achat p {

    color: #000;
    text-align: center;
}


.rectangle {

    z-index: auto;
    width: 20%;
    height: 20%;
    border-radius: 20px;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 


/*****************************/
/*      BAR DE RECHERCHE     */
/*****************************/

.w3-container {

    z-index: 5;
    position: absolute;
    display: block;
    right: 5%;
    top: 30px;
    margin-top: 5px;
}


.w3-container button {

	font-weight: bold;
    background: rgba(104, 182, 253, 0.3095);
    border: 2px solid #000000;
    border-radius: 100px;
    width: 100%;
}

.w3-dropdown-click {

	border-radius: 100px;
}

.image {
    width: 25%;
    height: 25%;
}

.arrowtop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 10rem;
  }