html {
    scroll-behavior: smooth;
}

*, ::before, ::after {

    text-decoration: none;
}

body, .site {

    overflow-y: hidden;
}


.rectangle {

    z-index: auto;
    width: 25rem;
    height: 25rem;
    margin: 20rem;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 


/*****************************/
/*      BAR DE RECHERCHE     */
/*****************************/

.w3-container {

    z-index: 5;
    position: absolute;
    display: block;
    right: 5%;
    top: 30px;
    margin-top: 5px;
}


.w3-container button {

	font-weight: bold;
    background: rgba(104, 182, 253, 0.3095);
    border: 2px solid #000000;
    border-radius: 100px;
    width: 100%;
}

.w3-dropdown-click {

	border-radius: 100px;
}

.image {
    width: 50%;
    height: 50%;
}

.arrowtop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 3rem;
  }