body, header, html, .site {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

body {

	background-color: #F8F7F7;
}


h3 {

    color: #000;
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
}

.grand-rectangle1 .phrases {

    color: #000;
    font-size: 15pt;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.grand-rectangle1 {

    position: relative;
    grid-column-start: body1;
    grid-column-end: body2;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}


.rectangle1 {

    z-index: auto;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rectangle1 .bouton {

    position: absolute;
    width: 60%;
    height: 50px;
    top: 70%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    background: rgba(104, 182, 253, 0.3095);
    border: 3px solid #000000;
    border-radius: 100px;
}

.rectangle1 .bouton:hover, .rectangle2 .bouton:hover, .rectangle3 .bouton:hover {

    background: rgba(104, 160, 253, 0.40);
}


.rectangle1 p, .rectangle2 p, .rectangle3 p {

    color: #000;
    text-align: center;
}