body, header, html {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

body {

	background-color: #F8F7F7;
}


h3 {

    color: #000;
    font-family: Lato;
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
}

.grand-rectangle1 .phrases {

    color: #000;
    font-family: Lato;
    font-size: 15pt;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.grand-rectangle1 {

    position: relative;
    grid-column-start: body1;
    grid-column-end: body2;
    top: 1200px;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background: #2A2929;
}


.rectangle1 {

    font-family: Lato;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    width: 20%;
    height: 500px;
    border-radius: 20px;
    background: #FFF6D4;
}

.rectangle1 .bouton {

    position: absolute;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    background-color: #1A1919;
    top: 85%;
    margin-left: 10%;
    margin-right: 10%;
}

.rectangle2 {

    font-family: Lato;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 4%;
    margin-left: 28%;
    margin-right: 4%;
    width: 20%;
    height: 500px;
    border-radius: 20px;
    background: #FFF6D4;
}

.rectangle2 .bouton {

    position: absolute;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    background-color: #1A1919;
    top: 85%;
    margin-left: 10%;
    margin-right: 10%;
}

.rectangle3 {

    font-family: Lato;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 4%;
    margin-left: 52%;
    margin-right: 4%;
    width: 20%;
    height: 500px;
    border-radius: 20px;
    background: #FFF6D4;
}

.rectangle3 .bouton {

    position: absolute;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    background-color: #1A1919;
    top: 85%;
    margin-left: 10%;
    margin-right: 10%;
}