
h3 {

    color: #000;
    font-size: 18pt;
    text-align: center;
    margin-top: 5%;
}

h1 {

    color: #68B6FD;
    font-size: 40pt;
    text-align: center;
    margin-top: -5%;
    grid-column-start: body1;
    grid-column-end: body2;
}

.trait {

    color: #68B6FD;
    font-size: 40pt;
    text-align: center;
    margin-top: 0%;
    grid-column-start: body1;
    grid-column-end: body2;
}


.p-concept {

    grid-column-start: body1;
    grid-column-end: body2;
    color: #000;
    font-size: 14pt;
    line-height: 35px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -2%;
}


.grand-rectangle1 .phrases {

    color: #000;
    font-size: 12pt;
    text-align: center;
    margin-top: 5%;
    margin-left: 20px; 
    margin-right: 20px;
}

.grand-rectangle1 {

    position: relative;
    grid-column-start: body1;
    grid-column-end: body2;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}


.rectangle1 {

    z-index: auto;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rectangle2 {

    z-index: auto;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 4%;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rectangle3 {

    z-index: auto;
    position: absolute;
    grid-column-start: body1;
    grid-column-end: body2;
    margin-top: 5%;
    margin-left: 70%;
    margin-right: 0%;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.grand-rectangle1 .bouton {

    position: absolute;
    width: 60%;
    height: 50px;
    top: 70%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    background: rgba(104, 182, 253, 0.3095);
    border: 3px solid #000000;
    border-radius: 100px;
}

.rectangle1 .bouton:hover, .rectangle2 .bouton:hover, .rectangle3 .bouton:hover {

    background: rgba(104, 160, 253, 0.40);
}


.rectangle1 p, .rectangle2 p, .rectangle3 p {

    color: #000;
    text-align: center;
}